<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LazyBones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LazyBones.Properties.Settings>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value>golovko</value>
            </setting>
            <setting name="vpnname" serializeAs="String">
                <value>Ukrtatnafta</value>
            </setting>
            <setting name="remoteip" serializeAs="String">
                <value>10.5.21.3</value>
            </setting>
            <setting name="sleep" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="rdpPath" serializeAs="String">
                <value>D:\UTN.rdp</value>
            </setting>
            <setting name="offTime" serializeAs="String">
                <value>05/28/2022 17:00:00</value>
            </setting>
            <setting name="offFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="onTime" serializeAs="String">
                <value>05/28/2022 07:50:00</value>
            </setting>
            <setting name="onFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </LazyBones.Properties.Settings>
    </userSettings>
</configuration>